body {
  background-image: url("https://media.gettyimages.com/photos/scenic-view-of-beach-picture-id913453358?s=2048x2048");
}

/* .container {
  background-image: url("https://media.gettyimages.com/photos/beach-elmina-ghana-west-africa-picture-id146272038?s=2048x2048");
} */

.container {
  border: 2px solid white;
  font-family: "Kalam", cursive;
  /*/*font-family: "Gruppo", cursive;
	*/
  border-radius: 15px;
  -webkit-webkit: border radius 15px;
  -moz-webkit: border radius 15px;
  -ms-webkit: border radius 15px;
  -o-webkit: border radius 15px;
  webkit: border radius 15px;
  /* font-size: 18px; */
}

h1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMvyemRKcotD326PBh484jfNKZ7RLBbNOVGk6nSRX50MMQkTiF");
  width: 100%;
  text-align: center;
  padding: 50px;
  font-family: "Permanent Marker", cursive;
  color: white;
  box-shadow: 20px 20px 20px white;
  border: 10px solid white;
}

.form {
  background-color: aliceblue;
}

footer {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMvyemRKcotD326PBh484jfNKZ7RLBbNOVGk6nSRX50MMQkTiF");
  padding: 15px;
}
